#office-meme {
    width: 271px;
    height: 302px;
}

#river-meme{
    width: 384px;
    height: 281px;
}

#snoopmeme{
    width: 346px;
    height: 331px;
}

#thanos-meme{
    width: 336px;
    height: 330px;
}